body {
    background-color: var(--black);
}

.Container404 {
   color: var(--white);
   font-family: 'Nunito', sans-serif;
    align-items: center;
  justify-content: center;
  text-align: center;
}

.Container404 h1 {
    font-size: 24px;
    font-weight: bold;

}

.Container404 h2 {
    font-size: 20px;
    font-weight: inherit;
    
}


.Container404 img {
    width: 450px;
}



.Logo_Error {
    padding-bottom: 30px;
}

.Link {
    color: var(--primary);
    text-decoration: none;
}